* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  @font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Regular.ttf),
    url(../fonts/OpenSans-Regular.woff),
    url(../fonts/OpenSans-Regular.woff2);
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Bold.ttf), 
    url(../fonts/OpenSans-Bold.woff), 
    url(../fonts/OpenSans-Regular.woff2);
    font-weight: 700;
    font-style: normal;
  }
  
  body {
    font-family: OpenSans, sans-serif;
  }

  .container {
    max-width: 1200px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
  }
  
  .hamburger-button {
    display: none;
  }

  .logo {
    z-index: 2;
  }
  
  .logo-link {
  width: 180px;
  }
  .menu-list {
    display: flex;
    list-style-type: none;
    text-transform: uppercase;
    font-size: 13px;
    padding: 11px 0;
    color: #ffffff;
    }
  
  .menu {
    z-index: 2;
  }
  
  .menu-list-item:nth-child(n+2) {
    padding-left: 35px;
  }
  
  .menu-link {
    color: #ffffff;
    text-decoration: none;
  }
  
  .menu-list-item:hover {
    text-decoration: underline;
  }
  
  .tittle-text {
    margin-top: 110px;
    width: 690px;
    margin-left: auto;
    margin-right: auto;
  }

  .title-name {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    position: relative;
    z-index: 2;
    line-height: 1.6; 
    margin-left: auto;
    margin-right: auto;
  }
  
  .header {
    width: auto;
    background-image: url(../images/banner-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000000;
    padding-bottom: 145px;
    padding-top: 28px;
    position: relative;
    z-index: 0;
    margin-bottom: 63px;
  }
  
  .header::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: 1;
  }
.trends {
  margin-bottom: 64px;
}
  .tittle__trends {
    text-transform: uppercase;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    text-align: center;   
  }

  .tittle__trends::after {
    content:"";
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 66px;
    height: 3px;
    margin-top: 14px;
    margin-bottom: 30px;
    background-color: #b59f5b;
    opacity: 0.4;
  }

  .trends__headline__link {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    line-height: 24px;
    text-transform: uppercase;
    z-index: 3;
    text-decoration: none;
      }
 
   .trends__headline__link:hover {
    color: #b59f5b;
  }

   .trends__tag__link {
    color: #b59f5b;
    text-decoration: none;
  }
 
  .trends__tag {
    list-style-type: none;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    font-size: 14px;
    flex-wrap: wrap;
    
  }
     
  .trends__tag__item {
    margin-bottom: 10px;
    margin-right: 20px;
    z-index: 2;
  }
  
  .trends__tag__item:hover {
    text-decoration: underline;
  }
    
  .trends__container {
    display: flex;
    }

  .trends__block {
  display: flex;
  background-repeat: no-repeat;
  background-color: #000000;
  background-size: cover;
  position: relative;
  z-index: 0;
  min-height: 318px;
  align-items: flex-end;
  width: calc((100%-15px)/4);
  padding: 0 22px 16px 18px;
  }

 .trends__block__content {
  box-sizing: border-box;
  border: 4px solid #72633a;
  padding: 40px 30px 37px 33px;
  z-index: 2;
  }

 .trends__block::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: 1;
  }

 .trends__block:nth-child(n+2) {
  margin-left: 5px;
  }

.trends__block__garden{
 background-image: url(../images/trend1.jpg);
 }

.trends__block__cheese {
 background-image: url(../images/trend2.jpg);
 }

.trends__block__mountains {
 background-image: url(../images/trend3.jpg);
 }

.trends__block__lemons {
 background-image: url(../images/trend4.jpg);
 }

.content-post {
 width: calc(100% - 272px);
 display: flex;
 width: 100%;
 }

 .content-post:nth-child(n+2) {
   margin-top: 60px;
 }
  
.block-image, .content-block {
 max-width: 380px;
 }
  
.block-image {
 margin-right: 30px;
 }
  
.content-title{
 text-transform: uppercase;
 color: #000000;
 font-size: 20px;
 font-weight: bold;
 line-height: 1.2;
 }
  
 .title-link:hover {
  color: #b59f5b;
  }
  
  .title-link {
   text-decoration: none;
   color: #000000;
   }
  
  .tag-link {
    color: #b59f5b;
    text-decoration: none;
  }
  
  .tag {
    list-style-type: none;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    font-size: 14px;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
      
  .tag-item:hover {
    text-decoration: underline;
  }
  
  .tag-item:nth-child(n+2) {
    margin-left: 20px;
  }
  
  .content-meta {
    margin-top: 32px;
    margin-bottom: 53px;
   }
  
  .content-date {
    font-size: 12px;
    color: #a9a9a9;
    margin-right: 13px;
  }
  
  .content-author {
    font-size: 12px;
    color: #000000;
    font-weight: bold;
  }
  
  .content-text {
    font-size: 15px;
    color: #000000;
    line-height: 1.5;  
  }
  
  .content-text-first {
    margin-bottom: 20px;
  }
  
  .new-posts{
    width: 272px;
    }

  .new-post {
    width: 100%;
    display: flex; 
    }
  
    .new-post:nth-child(n+2) {
    margin-top: 24px;
    }

  .post-date {
    color: #a9a9a9;
    }
  
  .post-meta {
    font-size: 12px;
    margin-bottom: 10px;
  }
  
  .post-title {
    text-transform: uppercase;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.29;
  }
  
  .post-image {
    width: 70px;
    margin-right: 20px;
  }
  
  
  .new-posts-headline, .mailing-headline, .tag-headline, .topic-headline {
    font-size: 14px;
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    line-height: none;
    }
  
  .new-posts-headline::after {
    content:"";
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 66px;
    height: 3px;
    margin-top: 14px;
    margin-bottom: 30px;
    background-color: #b59f5b;
    opacity: 0.4;
  }
  
  .new-posts-block {
    margin-bottom: 60px;
  }

  .post-link {
    text-decoration: none;
    color: #000000;
  }
  
  .post-link:hover {
    color: #b59f5b;
  }

  .search-field, .button, .mailing-field {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
  }
  
  .search-form {
    display: flex;
    justify-content: space-between;
    }
  
  .search-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 48px;
    width: 100%;
    border: none;
    background-color: #f4f7f6; 
    padding-left: 18px;
    padding-right: 18px;
    font-size: 13px;
    color: #939594;
    }
  
  .search-sidebar {
    width: calc(100% - 48px);
  }
   
  .search-button {
    background-image: url(../svg/search.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 18px;
    width: 48px;
    height: 48px;
    background-color: #b59f5b;
    border: none;
  }
  
  .search-input:focus {
    outline: 1px solid #b59f5b;
  }
  
  .search-button:focus {
    outline: 1px solid #b59f5b;
  }
  .search-button:hover {
    background-color: #323232;
  }
  
  .mailing-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 48px;
    width: 100%;
    border: none;
    background-color: #f4f7f6; 
    padding-left: 18px;
    padding-right: 18px;
    font-size: 13px;
    color: #939594;
  }
   
  .mailing-button {
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    height: 48px;
    background-color: #b59f5b;
    border: none;
    margin-top: 16px;
  }
  
  .mailing-input:focus {
    outline: 1px solid #b59f5b;
  }
  
  .mailing-button:hover {
    background-color: #323232;
  }
    
  .mailing-headline::after {
    content:"";
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 66px;
    height: 3px;
    margin-top: 14px;
    background-color: #b59f5b;
    opacity: 0.4;
  }

  .mailing-block {
    margin-top: 40px;
  }

  .mailing {
    margin-top: 23px;
  }
  
  .tags-block {
    margin-top: 60px;
  }
  .tag-headline {
    text-align: center;
    }
  
  .tag-headline::after {
    content:"";
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 66px;
    height: 3px;
    margin-top: 14px;
    background-color: #b59f5b;
    opacity: 0.4;
  }
  
  .tag-block {
    margin-top: 40px;
    }
  
  .tag-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  
  .tag-list-item {
    border: 3px solid #eeeeee;
    margin: 0 5px 6px 0;
  }
  
  .tag-list-item:hover {
    border: 3px solid #b59f5b;
  }
  
  .tag-link-item {
    text-decoration: none;
    padding: 7px 13px;
    font-weight: bold;
    font-size: 12px;
    color: #0f0d0e;
    text-transform: uppercase;
  }
  
  .topics-block {
    margin-top: 60px;
  }
  
  .topic-headline::after {
    content:"";
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 66px;
    height: 3px;
    margin-top: 14px;
    background-color: #b59f5b;
    opacity: 0.4;
  }
  
   
  .topic-list {
   list-style: none;
  }
  
  .topic-list-item {
    border-bottom: 1px solid #eeeeee;
    padding: 18px 0;
    }
  
  .topic-link-item {
    text-decoration: none;
    padding: 16px 0;
    font-weight: bold;
    font-size: 14px;
    color: #000000;
    }
  
  .topic-link-item:hover {
   color: #b59f5b;
  }
  
  .index {
    font-weight: bold;
    font-size: 12px;
    color: #b59f5b;
    margin-left: 5px;
    vertical-align: super;
  }

  .shop {
    box-sizing: border-box;
    max-width: 1200px;
    padding: 0 15px;
    margin: 64px auto;
  }
  
  .shop-title {
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

.shop-title::after {
  content:"";
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 66px;
  height: 3px;
  margin-top: 14px;
  background-color: #b59f5b;
  opacity: 0.4;
}
.shop-items-wrapper {
    display: flex;
    flex-wrap:  wrap;
    justify-content: space-between;
    width: 100%;
    margin: 30px auto 0 auto;
}
.shop-item {
    width: calc((100% - 136px)/3);
    display: flex;
    flex-direction: column;
}
.shop-item-image {
    align-self: center;
}
.shop-item-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    flex-grow: 1;
    padding: 55px 25px 30px;
    margin-top: -35px;
    border: 4px solid #D5C69F;
}
.shop-item-descr {
    font-size: 15px;
    margin-bottom: 30px;
}
.shop-item-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-family: 'OpenSans', sans-serif;
}
.shop-item-descr > p {
    font-size: 15px;
    line-height: 1.5;
    color: #0F0D0E;
}
.shop-item-link {
    color: #C8C082;
    opacity: 0.75;
    text-decoration: none;
    
}
.shop-item-link:hover {
    text-decoration: underline;
    opacity: 1;
}
.shop-item-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.shop-item-prices {
    display: flex;
    flex-direction: column;
}
.shop-item-ex-price {
    font-size: 14px;
    font-weight: 700;
    text-decoration: line-through;
}
.shop-item-actual-price {
    font-size: 20px;
    font-weight: 700;
}
.shop-item-button > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 50px;
    background-color: #B59F5B;
    font-size: 14px;
    font-weight: 700;
    color: #F0ECDE;
    text-transform: uppercase;
    opacity: 0.75;
    text-decoration: none;
    }

.shop-item-button > a:hover {
    opacity: 1;
    background-color: #323232;
}

  .footer {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    
      }
  
  .social-item:nth-child(n+2) {
  margin-left: 30px;
    }
  
  .social-icon {
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    width: 20px;
    height: 20px;
    background-size: 20px;
    }
  
  .socials {
    display: flex;
    list-style-type: none;
    margin-bottom: 74px;;
    justify-content: center;
    background-color: #f4f7f6;
    padding: 31px 0;
    }
  
  .socials-icon__twitter {
    background-image: url("../svg/004-twitter.svg");
    }
  
  .socials-icon__pinterest {
    background-image: url("../svg/001-pinterest.svg");
   }
  
  .socials-icon__facebook {
    background-image: url("../svg/002-facebook-logo.svg");
    }
  
  .socials-icon__instagram {
    background-image: url("../svg/005-instagram.svg");
    }
    
  .socials-icon__tumblr {
    background-image: url("../svg/003-tumblr.svg");
    }
  
  .social-icon-name {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px; 
  }
  
  .copyright {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }
  
  .copyright-link {
    text-decoration: none;
    color: #b0b0b0;
    font-family: Open-Sans, sans-serif;
    font-weight: bold;
    font-size: 12px;
  }

.tittle__feedback {
  text-transform: uppercase;
  font-size: 20px;
  color:black;
  font-weight: bold;
  text-align: center;
  margin-bottom: 45px;
  font-family: 'OpenSans', sans-serif;
}

.tittle__feedback::after {
  content:"";
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 66px;
  height: 3px;
  margin-top: 14px;
  background-color: #b59f5b;
  opacity: 0.4;
}    
      
.popup__container {
  padding: 53px 30px;
  max-width: 390px;
  width: 95%;
  margin: auto;
  background-color: #ffffff;
  position: relative;
  }  
  
.popup__close {
  background-image: url(../svg/form-x.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  padding: 0;
  cursor: pointer;  
  width: 20px;
  height: 20px;
  font-size: 20px;
  position: absolute;
  top: -30px;
  right: 0px; 
}

.popup {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgba(0, 0, 0, 0.75);
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  /*display: none;*/
  }   
    
  .select-label {
    font-size: 13px;
    font-weight: normal;
    color: #000000;
  }

  .select {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    padding-left: 20px;
    padding-right: 14px;
    margin-top: 11px;
    margin-bottom: 27px;
    background-color: #f4f7f6;
    border: #f4f7f6;
    font-size: 13px;
    font-weight: normal;
    color: #939594;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("../svg/form-arrows.svg");
    background-repeat: no-repeat;
    background-position: right 14px center;
    background-size: 10px;
  }
  
  .select:focus {
    outline: 1px solid #b59f5b;
  }
  
  .form-group{
    margin-bottom: 18px;
    height: 63px;
  }

.form-group-text {
  font-size: 13px;
  color: #000000;
  margin-bottom: 12px;
}

  .radio-group-text::before {
   content: "";
   display: inline-block;
   width: 18px;
   height: 18px;
   background-image: url(../svg/form-empty-circle.svg);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: 18px;
   vertical-align: middle;
   margin-right: 5px;
  }

  .radio-group {
    display: inline-block;
    font-size: 13px;
  }

  .radio-group:nth-of-type(n+2) {
     margin-left: 15px;
  }

  .radio:checked ~ .radio-group-text::before {
    background-image: url(../svg/form-circle.svg);
  }

  .radio {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
  }

  .field-label {
   font-size: 13px;
   color: #000000;
   margin-bottom: 12px;
  }

  .field-textarea {
    background-color: #f4f7f6;
    font-size: 13px;
    font-weight: normal;
    color: #939594;
    height: 65px;
    width: 100%;
    border: none;
    padding-left: 21px;
    padding-top: 23px;
    font-family: 'OpenSans', sans-serif;
  }

  .send-button {
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    height: 48px;
    background-color: #b59f5b;
    border: none;
    margin-top: 24px;
     }
  
 
  .send-button:hover {
    background-color: #323232;
  }

 @media (min-width: 641px) and (max-width: 1199px), (max-width: 640px) and (orientation: landscape) {
  .container {
    box-sizing: border-box;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-left: 35px;
    padding-right: 35px;
     }

  .menu {
    display: none;
    }

  .logo-link {
    width: 158px;
    }

  .header {
    width: 100%;
    background-image: url(../images/banner-bg-tablet.jpg);
    padding-bottom: 126px;
    padding-top: 43px;
    background-color: #666666;
    background-size: cover;
     }
     
     .hamburger-button {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
      height: 20px;
      width: 23px;
      cursor: pointer;
      margin: 3px 0 6px 0;
      z-index: 2;
      
       }
  
    .hamburger-button-top,
  .hamburger-button-middle,
  .hamburger-button-bottom {
    height: 3px;
    background: #ffffff;
    }

  .tittle-text {
    
    margin-top: 105px;
    line-height: 1.375; 
    }

    .title-name {
      width: 620px;
      font-size: 40px;
      
    }
          
  .trends__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
      }
              
  .trends__block {
    min-height: 247px;    
    width: calc((100% - 3px)/2);
    padding: 0 20px 14px 20px;
    box-sizing: border-box;
    }
           
  .trends__block__content {
    padding: 35px;
    }

    .trends__block:nth-child(n+3) {
      margin-left: 0px;
      margin-top: 3px;
       }

  .trends__block:nth-child(2n+2) {
    margin-left: 3px;
    }

  .content-post {
    flex-direction: column;
    
    }

  .content-image {
   width: 100%;
   }

   .content-post:nth-child(n+2) {
    margin-top: 0;
     }

     .block-image, .content-block {
    max-width: calc(100% - 30px);
    }

  .content-meta {
    margin: 36px 0;
    }

  .content-post:nth-child(n+2)::before {
    content:"";
    display: block;
    width: calc(100% - 30px);
    height: 3px;
    margin-top: 22px;
    margin-bottom: 41px;
    background-color: #eeeeee;
  }

     .content {
  width: calc(100% - 272px);
}

  .shop {
    box-sizing: border-box;
    width: 100vw;
    padding: 0 35px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    }

.shop-items-wrapper{
  flex-wrap: wrap;
  justify-content: space-between;
  padding-right: auto;
  padding-left: auto;
}

  .shop-item {
    width: calc((100% - 23px)/2);
    }

  .shop-item:nth-child(n+2) {
    margin-left: 0px;
    }

  .shop-item:nth-child(odd) {
    margin-right: 23px;
    }

  .shop-item:nth-child(n+3) {
    margin-top: 28px;
  }
.shop-item-image {
  width: 87%;
}
  .shop-item-photo {
    width: 100%;
  }
  .footer-block {
    margin: 0 35px;
    }
  }

@media (max-width: 640px) {

.header {
  display: flex;
  width: 100%;
  height: 100vh;
  padding: 0;
  background-image: url(../images/banner-mobile.jpg);
  background-size: cover;
  flex-direction: column;
  justify-content: center;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.menu {
  display: none;
}

 .hamburger-button {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
      height: 20px;
      width: 23px;
      cursor: pointer;
      margin: 3px 0 6px 0;
      z-index: 2;
      position: absolute;
      top: 32px;
      right: 14px;
       }
  
    .hamburger-button-top,
  .hamburger-button-middle,
  .hamburger-button-bottom {
    height: 3px;
    background: #ffffff;
    }

.logo-link {
  width: 270px;
  justify-content: center;
  align-items: center;
}

.tittle-text {
  width: 330px;
  margin: 44px auto 0 auto;
  }

.title-name {
  font-size: 26px;
  line-height: 1.38; 
}
.tittle__trends {
  margin-top: 44px;
}

.trends__container {
  flex-direction: column;
  }

.trends__block {
  width: 100%;
  margin: 0;
  padding: 0 15px 15px 15px;
}

.trends__block:nth-child(n+2){
  margin-top: 3px;
  margin-left: 0;
}

.content-post {
  flex-direction: column;
  margin-bottom: 0;
}

.shop-items-wrapper {
  flex-direction: column;
}
      
.content {
  margin-top: 44px;
}

.block-image, .content-block {
  max-width: 100%;
  }

.block-image {
  margin-right: 0;
}

.content-image {
  width: 100%;
}

.content-block, .post-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  }

.content-title, .content-text, .post-title {
  text-align: left;
}

.content-meta {
  margin: 25px 0;
}

.content-post:nth-child(n+1)::after {
  content:"";
  display: block;
  width: 100%;
  height: 3px;
  margin-top: 20px;
  margin-bottom: 34px;
  background-color: #eeeeee;
}

.new-posts {
  width: 100%;
  margin-top: 10px;
}

.post-meta {
  margin-bottom: 10px;
}

.tag-list {
  justify-content: space-between;
}

.topic-list-item {
  text-align: left;
}

.shop-item {
  width: 100%;
}

.shop-item-image {
  width: 87%;
}

.shop-item-photo {
  width: 100%;
}

.shop-item:nth-child(n+2) {
  margin-left: 0;
  margin-top: 25px;
}

.footer-block {
  padding: 15px;
}

.footer {
  margin-bottom: 35px;
  margin-top: 44px;
  width: 100%;
}

.popup__close {
  width: 24px;
  height: 24px;
  font-size: 24px;
}

.popup {
  padding: 0 15px; 
}

.popup__container {
  padding: 30px 25px;
  width: 100%;
  max-width: 100%;
  margin: auto 0;
}
  }

        